const {{pascalCase name}}Page = () => {
return (
<div className="p-6">
    <h1 className="text-3xl font-bold text-secondary">Página: {{pascalCase name}}</h1>
    <p className="mt-2">Bienvenido a la página "{{pascalCase name}}Page"</p>
</div>
);
};

export default {{pascalCase name}}Page;
